.border-5 {
    border-radius: 5px;
}
.border-10 {
    border-radius: 10px;
}
.border-15 {
    border-radius: 15px;
}
.border-20 {
    border-radius: 20px;
}
.border-25 {
    border-radius: 25px;
}
.border-30 {
    border-radius: 30px;
}
.border-35 {
    border-radius: 35px;
}