:root {
    --bg-color: #E4EBF1;
    --element-bg-color: #EFF2F9;
    --primary-text-color: #505C67;
    --secondary-text-color: #B5BFC6;
    --button-default-bg-color: #FEFEFE;
    --button-default-text-color: #3b434c;
    --shadow-1: #22232438;
    --shadow-2: #161b1d41;
}