@import './colors.css';
@import './cards.css';
@import './borders.css';
@import './shadows.css';
@import './containers.css';
@import './form.css';
@import './buttons.css';

@font-face {
    font-family: 'avenir regular';
    src: url('../fonts/avenir_next/AvenirNextLTPro-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'gibson bold';
    src: url('../fonts/gibson/gibson-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'gibson regular italic';
    src: url('../fonts/gibson/Gibson-RegularItalic.woff2')  format('woff2');
}

body {
    font-family: 'avenir regular';
    background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'gibson bold';
}

a {
    text-decoration: none;
    color: inherit;
}

.margin-TopAndBottom {
    margin: 30px 0;
}

.margin-right {
    margin-right: 20px;
}